@font-face {
    font-family: 'Oswald';
    src: url('@fonts/oswald-font/Oswald-Medium.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Stencil';
    src: url('@fonts/oswald-font/Oswald-Stencil.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Mont';
    src: url('@fonts/mont-font/Mont-Regular.ttf');
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
