@use 'sass:map';
@use '@styles/variables' as *;

@mixin brakepoints($name) {
    @media (max-width: map.get($brakepoints, $name)) {
        @content;
    }
}

@mixin burgerline {
    position: absolute;
    height: 2px;
    background: $cr-text-main;
    display: block;
    transition: .3s;
    border-radius: 2px;
}

@mixin header-actions {
    font-size: $fs-second-text;
    width: 105px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin icon-default {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

@mixin ellipsis($line: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin orange-line {
    content: "";
    display: inline-block;
    align-self: flex-end;
    width: 100%;
    height: 8px;
    background-color: #FFAE00;
    margin-left: 12px;
    margin-bottom: 6px;
    border-radius: 2px;
}

@mixin heading {
    font: {
        size: $fs-header;
        family: $ff-header;
    }

    ;
    color: $cr-text-main;
    line-height: 38px;
}

@mixin text($mbot: 0) {
    white-space: pre-wrap;

    font: {
        size: $fs-text;
        family: $ff-text
    }

    ;
    color: $cr-text-main;
    line-height: 25px;
    margin-bottom: $mbot;
}

@mixin social-icons($fill-color: $cr-text-main) {
    width: 104px;
    display: flex;
    justify-content: space-between;

    .social__path {
        fill: $fill-color;
    }
}

@mixin heading-style($fs, $lh, $clr: $cr-text-main) {
    font: {
        family: $ff-header;
        size: $fs;
    }

    color: $clr;
    line-height: $lh;
}

@mixin text-style($fs, $lh, $clr: $cr-text-main) {
    font: {
        family: $ff-text;
        size: $fs
    }

    color: $clr;
    line-height: $lh;
}