@use 'sass:map';
@use '@styles/variables' as *;

@mixin brakepoints($name) {
    @media (max-width: map.get($brakepoints, $name)) {
        @content;
    }
}

@mixin burgerline {
    position: absolute;
    height: 2px;
    background: $cr-text-main;
    display: block;
    transition: .3s;
    border-radius: 2px;
}

@mixin header-actions {
    font-size: $fs-second-text;
    width: 105px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin icon-default {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

@mixin ellipsis($line: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}