//brakepoints
$brakepoints: (
    tablet: 1279px,
    tablet-mini: 956px,
    mobile: 767px
);

//container
$wd-container: 1440px;
$wd-container-mob: 100%; 

//font-family 
$ff-header: 'Oswald';
$ff-text: 'Mont';
$ff-brand-name: 'Inter';
$ff-slogan: 'Oswald-Stencil';

//fonts-sizes
$fs-logo: 24px;
$fs-logo-tablet: 20px;

$fs-header: 28px;
$fs-second-header: 20px;
$fs-text: 19px;
$fs-second-text: 16px;
$fs-time: 14px;
$fs-slogan: 36px;

$fs-header-mob: 18px;
$fs-text-mob: 14px; 
$fs-time-mob: 12px;
$fs-slogan-mob: 28px;

//colors
$cr-text-main: #2A2A34;
$cr-text-footer: #fff;
$cr-cherry-cake: #FFAE00;
$cr-dd-filter: #EEF1F3;
$cr-header-bg: #EEF1F3;
$cr-footer-bg: #54565F;
$cr-menu-bg: #E5E5E5;
$cr-search-unput: #59596D;
$cr-main-bg: #F7F9FA;
$cr-article-bg: #FFF;
$cr-time: #9090A5;
$cr-paper-bg: #fff;

//paddings
$pd-ctr: 80px;
$pd-ctr-tablet: 32px;
$pd-ctr-mobile: 16px;












  