//brakepoints
$brakepoints: (
    tablet: 1279px,
    mobile: 767px
);

//container
$ctr-width: 1440px;
$ctr-width-mob: 100%; 

//fonts-sizes
$fs-logo: 24px;

$fs-header: 28px;
$fs-second-header: 20px;
$fs-text: 19px;
$fs-second-text: 16px;

$fs-header-mob: 18px;
$fs-text-mob: 14px; 

//colors
$cr-text-main: #2A2A34;
$cr-text-footer: #fff;
$cr-cherry-cake: #FFAE00;











  