@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/fonts';

.container {
    max-width: $wd-container;
    margin: 0 auto;
    @include brakepoints(tablet) {
        max-width: $wd-container-mob;
    }
    @include brakepoints(mobile) {
        max-width: $wd-container-mob;
    }
}
.header {
    font-family: $ff-text;
    &__wrapper {
        background-color: $cr-header-bg;
        padding: 0px $pd-ctr;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 100px;
    }
    &__basic {
        grid-column: 1/3;
        display: grid;
        grid-auto-flow: column;
        max-width: 458px;
        justify-content: space-between;
    } 
    &__actions-wrapper {
        display: flex;
    }
    &__search {
        @include header-actions;
    }
    &__search-wrapper {
        display: flex;
        align-items: center;
    }
    &__search-icon{
        margin-right: 8px;
        width: 24px;
        height: 24px;
    }
    &__filters {
        @include header-actions;
    }
    &__filters-wrapper {
        display: flex;
        align-items: center;
    }
    &__filters-icon {
        margin-right: 8px;
        width: 24px;
        height: 24px;
    }
    &__logo-wrapper {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
        width: 224px;
    }
    &__brand-name {
        font-family: $ff-brand-name;
        font-size: $fs-logo;
    }
    &__social {
        justify-self: center;
        align-self: center;
        width: 104px;
        display: flex;
        justify-content: space-between;
    }
    &__navigation {
        justify-self: end;
    }
    &__navigation-wrapper {
        @include header-actions;
    }
    &__burger-wrapper{
        position: relative;
        width: 24px;
        height: 24px;
        cursor: pointer;
        margin-right: 8px;
    }
    &__burger-line{
        @include burgerline;
        width: 16px;
        left: 4px;
        top: 11px;
        &::before {
            @include burgerline;
            content: '';
            top: -6px;
            width: 100%;
        }
        &::after {
            @include burgerline;
            content: '';
            bottom: -6px;
            width: 100%;
        }
        &_active {
            background: rgba(255, 255, 255, 0);
            &::before {
                content: "";
                top: 0px;
                transform: rotate(45deg);
            }
            &::after {
                content: "";
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }

}


