@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/fonts';
@use '@styles/nullstyle';

body {
    @include brakepoints(mobile) {
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}


.container {
    max-width: $wd-container;
    margin: 0 auto;
    background-color: $cr-main-bg;

    @include brakepoints(tablet) {
        max-width: $wd-container-mob;
    }

    @include brakepoints(mobile) {
        max-width: $wd-container-mob;
    }
}

.container-content {
    padding: 0 $pd-ctr;

    @include brakepoints(tablet) {
        padding: 0 $pd-ctr-tablet;
    }

    @include brakepoints(mobile) {
        padding: 0 $pd-ctr-mobile;
    }
}

.header {
    font-family: $ff-text;
    color: $cr-text-main;

    &__wrapper {
        background-color: $cr-header-bg;
        position: relative;
        margin-bottom: 48px;

        @include brakepoints(tablet) {
            margin-bottom: 32px;
        }

        @include brakepoints(mobile) {
            margin-bottom: 24px;
        }
    }

    &__grid {
        @include set-grid;
        padding: 0px $pd-ctr;
        grid-template-rows: 100px;

        @include brakepoints(tablet) {
            padding: 0 $pd-ctr-tablet;
        }

        @include brakepoints(mobile) {
            grid-template-columns: auto;
            grid-auto-flow: column;
            grid-template-rows: 62px;
            padding: 0 $pd-ctr-mobile;
        }
    }

    &__basic {
        grid-column: 1/3;
        display: grid;
        grid-auto-flow: column;
        max-width: 458px;
        justify-content: space-between;
    }

    &__actions-wrapper {
        display: flex;
    }

    &__search {
        @include header-actions;
        cursor: pointer;

        @include brakepoints(mobile) {
            width: 40px;
        }

        &:hover {
            background-color: $cr-menu-bg;
        }

        &_active {
            background-color: $cr-menu-bg
        }
    }

    &__filters {
        @include header-actions;
        cursor: pointer;

        @include brakepoints(mobile) {
            width: 40px;
        }

        &:hover {
            background-color: $cr-menu-bg;
        }
    }

    &__social {
        @include social-icons;
        justify-self: center;
        align-self: center;

        @include brakepoints(tablet) {
            display: none;
        }
    }

    &__navigation {
        justify-self: end;
        cursor: pointer;

        @include brakepoints(tablet) {
            grid-column: 3/5;
        }

        @include brakepoints(mobile) {
            grid-column: initial;
        }

        &:hover {
            background-color: $cr-menu-bg;
        }

        &_active {
            background-color: $cr-menu-bg;
        }
    }

    &__burger-wrapper {
        position: relative;
        width: 24px;
        height: 24px;
        cursor: pointer;
        margin-right: 8px;

        @include brakepoints(mobile) {
            margin-right: initial;
        }
    }
}

.navigation {
    &__wrapper {
        @include header-actions;

        @include brakepoints(mobile) {
            width: 40px;
        }
    }

    &__text {
        @include brakepoints(mobile) {
            display: none;
        }
    }
}

.burger {
    &__line {
        @include burgerline;
        width: 16px;
        left: 4px;
        top: 11px;

        &::before {
            @include burgerline;
            content: '';
            top: -6px;
            width: 100%;
        }

        &::after {
            @include burgerline;
            content: '';
            bottom: -6px;
            width: 100%;
        }

        &_active {
            background: rgba(255, 255, 255, 0);

            &::before {
                content: "";
                top: 0px;
                transform: rotate(45deg);
            }

            &::after {
                content: "";
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }
}

.logo {
    &__wrapper {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
        width: 224px;
        cursor: pointer;

        @include brakepoints(tablet) {
            justify-content: flex-start;
        }

        @include brakepoints(mobile) {
            width: 48px;
            position: absolute;
            left: calc(50% - 24px);
            top: calc(32px - 24px);
        }
    }

    &__name {
        font-family: $ff-brand-name;
        font-size: $fs-logo;

        @include brakepoints(tablet) {
            font-size: $fs-logo-tablet;
            margin-left: 16px;
        }

        @include brakepoints(mobile) {
            display: none;
        }
    }

    &__img {
        height: 48px;
        margin-right: 24px;

        @include brakepoints(mobile) {
            width: 100%;
            margin-right: initial;
        }
    }
}

.search {
    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__icon {
        @include icon-default;

        @include brakepoints(mobile) {
            margin-right: initial;
        }
    }

    &__close {
        @include icon-default;

        @include brakepoints(mobile) {
            margin-right: 0;
        }
    }

    &__text {
        @include brakepoints(mobile) {
            display: none;
        }
    }
}

.filters {
    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__icon {
        @include icon-default;

        @include brakepoints(mobile) {
            margin-right: initial;
        }
    }

    &__text {
        @include brakepoints(mobile) {
            display: none;
        }
    }
}

.menu {
    &__wrapper {
        background-color: $cr-menu-bg;
        padding: 0px $pd-ctr;
        //position: absolute;
        width: 100%;
        //top: 100px;
        display: none;

        @include brakepoints(tablet) {
            padding: 0px $pd-ctr-tablet;
        }

        @include brakepoints(mobile) {
            //top: 62px;
            padding: $pd-ctr-mobile $pd-ctr-mobile 24px;
        }

        &_active {
            display: block;
        }
    }

    &__grid {
        @include set-grid(0, 24px);
        color: $cr-text-main;

        @include brakepoints(mobile) {
            grid-template-columns: auto;

            & :nth-child(3)::after {
                display: none;
            }
        }
    }

    &__item {
        margin-bottom: 24px;
        font-size: $fs-second-text;

        @include brakepoints(mobile) {
            margin-bottom: inherit;
            display: flex;
            justify-content: flex-end;
        }
    }

    &__social {
        @include social-icons;
    }

    &__column {
        padding: 24px;

        @include brakepoints(mobile) {
            padding: 8px 0 0;
            display: flex;
            justify-content: flex-end;
        }
    }

    &__header {
        font-family: $ff-header;
        font-size: $fs-second-header;
    }

    &__list-wrapper {
        padding: 24px;

        @include brakepoints(tablet) {
            padding: 16px 8px;
        }

        @include brakepoints(mobile) {
            padding: 0 8px 8px;
        }
    }
}

.search-menu {
    &__wrapper {
        //position: relative;
        padding: 0 $pd-ctr;
        height: 88px;
        background-color: #ccc;
        //grid-template-columns: repeat(4, 1fr);
        align-items: center;
        background-color: $cr-menu-bg;
        //width: 100%;
        //top: 100px;
        display: none;

        &_active {
            display: flex;
        }

        @include brakepoints(tablet) {
            padding: 0 $pd-ctr-tablet;
        }

        @include brakepoints(mobile) {
            height: 56px;
            //grid-template-columns: auto;
            padding: 0 $pd-ctr-mobile;
        }
    }

    &__input-wrapper {
        //position: relative;
        width: 100%;
        max-width: 572px;
        margin: 0 24px;
        display: flex;
        align-items: center;
        //grid-column: 1/3;
        //justify-self: center;
        //justify-items: center;

        @include brakepoints(tablet) {
            //justify-self: flex-start;
            max-width: 438px;
            margin: 0 16px;
        }

        @include brakepoints(mobile) {
            //justify-self: center;
            margin: 0 8px;
        }
    }

    &__input {
        height: 40px;
        width: 100%;
        padding: 8px 50px 8px 14px;
        border: 1px solid $cr-text-main;
        border-radius: 2px;
        font-size: $fs-second-text;
        background-color: $cr-menu-bg;
        color: $cr-search-unput;
        //margin-left: 24px;

        @include brakepoints(tablet) {
            //width: 438px;
            //margin-left: 16px;
        }

        @include brakepoints(mobile) {
            //width: 100%;
            //max-width: 438px;
            //margin: 0;
            font-size: $fs-text-mob;
        }
    }

    // &__icon {
    //     position: absolute;
    //     cursor: pointer;
    //     height: 24px;
    //     width: 24px;
    //     top: 50%;
    //     transform: translate(0,-50%);
    //     left: 632px;

    //     @include brakepoints(tablet) {
    //         left: 500px;
    //     }
    // }
    &__icon {
        background-image: url('../src/assets/24x24/search.svg');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
        margin-left: -37px;
    }
}

.main-news {
    &__grid {
        @include set-grid(48px, 24px);
        margin-bottom: 64px;

        @include brakepoints(tablet) {
            @include set-grid(32px, 20px);
            margin-bottom: 32px;
        }

        @include brakepoints(mobile) {
            grid-template-columns: 1fr;
            row-gap: 24px;
            margin-bottom: 24px;
        }
    }

    &__grid-old {
        @include set-grid(24px, 24px);
        margin-bottom: 112px;

        @include brakepoints(tablet) {
            margin-bottom: 72px;
        }

        @include brakepoints(mobile) {
            grid-template-columns: 1fr;
            row-gap: 16px;
            margin-bottom: 56px;
        }
    }

    @for $i from 1 through 15 {
        @if $i ==1 or $i ==8 or $i ==10 {
            &__item-#{$i} {
                grid-column: 1/3;
            }
        }

        @else if $i ==9 or $i ==11 {
            &__item-#{$i} {
                grid-column: 3/5;
            }
        }
    }

    &__horizontal {
        display: flex;
        grid-column: 1/4;

        @include brakepoints(mobile) {
            grid-column: 1/2;
        }
    }

    &__filters-applied {
        margin-bottom: 32px;

        @include brakepoints(mobile) {
            margin-bottom: 24px;
        }
    }
}

.preview-article {
    background-color: $cr-article-bg;
    cursor: pointer;

    &__description {
        padding: 16px;

        @include brakepoints(tablet) {
            padding: 16px 8px;
        }

        @include brakepoints(mobile) {
            padding: 8px;
        }
    }

    &__description-wide {
        padding: 16px 24px;

        @include brakepoints(tablet) {
            padding: 16px 8px 16px 20px;
        }
    }

    &__header {
        @include heading-style($fs-second-header, 30px);
        @include ellipsis(2);
        margin-bottom: 10px;
        height: 60px;

        @include brakepoints(mobile) {
            font-size: $fs-header-mob;
            line-height: 24px;
            margin-bottom: 16px;
            height: 48px;
        }
    }

    &__header-mob_pd {
        margin-left: 80px;
    }

    &__mobile-header-wrapper {
        display: flex;
    }

    &__text {
        @include text-style($fs-second-text, 22px);
        @include ellipsis(4);
        height: 86px;
        margin-bottom: 24px;

        @include brakepoints(mobile) {
            font-size: $fs-text-mob;
            line-height: 18px;
            height: 72px;
            margin-bottom: 16px;
        }
    }

    &__img {
        max-width: 100%;
    }

    &__img-mobile {
        height: 60px;
        //margin: 0 8px 16px 0;
        position: absolute;
    }

    &__img-tablet {
        max-width: 225px;
        object-fit: contain;
        align-self: flex-start;
    }

}

.timeset {

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__text {
        @include text-style($fs-time, 16px, $cr-time);

        @include brakepoints(mobile) {
            font-size: $fs-time-mob;
        }
    }

    &__diflex {
        display: flex;
        align-items: center;
    }

    &__divider {
        margin: 0 8px;
        height: 6px;
        width: 6px;

        @include brakepoints(mobile) {
            margin: 0 4px;
        }
    }
}

.main-article {
    background-color: $cr-article-bg;

    &__heading {
        @include heading-style($fs-header, 38px);
        margin-bottom: 16px;
    }

    &__heading-wrapper {
        padding: 48px 24px;

        @include brakepoints(tablet) {
            padding: 24px 16px;
        }
    }

    &__wrapper-content {
        padding: 48px 24px;

        @include brakepoints(tablet) {
            padding: 24px 16px;
        }

        @include brakepoints(mobile) {
            padding: 24px 8px;
        }
    }

    &__img {
        max-width: 100%;
    }

    &__text {
        @include text-style($fs-text, 25px);
        white-space: pre-wrap;
        margin-bottom: 48px;

        @include brakepoints(mobile) {
            font-size: $fs-text-mob;
            margin-bottom: 24px;
            line-height: 18px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }

    &__social {
        @include social-icons;
        margin-right: 60px;

        @include brakepoints(tablet) {
            margin-right: 0;
        }
    }
}

.footer {
    &__grid {
        @include set-grid(0, 24px);
        background-color: $cr-footer-bg;
        padding: 48px $pd-ctr 16px;

        @include brakepoints(tablet) {
            padding: 24px $pd-ctr-tablet 16px;
        }

        @include brakepoints(tablet-mini) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include brakepoints(mobile) {
            grid-template-columns: 1fr;
            padding: 24px 16px 18px;
        }
    }

    &__column {
        padding: 0 24px;
        margin-bottom: 59px;
        color: $cr-text-footer;

        @include brakepoints(mobile) {
            padding: 0 8px;
            margin-bottom: 24px
        }
    }

    &__header {
        @include heading-style($fs-second-header, 27px, $cr-text-footer);
        margin-bottom: 16px;
    }

    &__item {
        @include text-style($fs-second-text, 21px);
        margin-bottom: 24px;
    }

    &__list-wrapper {
        padding: 0 24px;
        margin-bottom: 59px;

        @include brakepoints(tablet) {
            padding: 0 8px;
            margin-bottom: 56px;
        }

        @include brakepoints(mobile) {
            padding: 0 8px;
            margin-bottom: 24px;
            max-width: 243px;
        }
    }

    &__social {
        @include social-icons($cr-text-footer);
    }

    .list__header {
        @include heading-style($fs-second-header, 27px, $cr-text-footer);
    }

    .list__text {
        @include text-style($fs-second-text, 21px, $cr-text-footer);

        @include brakepoints(mobile) {
            font-size: $fs-text-mob;
        }
    }

}

.privacy {
    &__wrapper {
        grid-column: 1/5;
        display: flex;
        justify-content: space-between;

        @include brakepoints(tablet-mini) {
            flex-direction: column;
            align-items: center;
            grid-column: 1/3;

            & :first-child {
                order: 1;
            }

            & :last-child {
                order: 0;
            }
        }

        @include brakepoints(mobile) {
            grid-column: 1/2;
        }
    }

    &__copyright {
        @include text-style(14px, 27px, $cr-text-footer);
    }
}

.recommended {
    // &__wrapper :nth-child(2) {
    //     margin-bottom: 24px;

    //     @include brakepoints(mobile) {
    //         margin-bottom: initial;
    //     }
    // }
    &__articles-wrapper {
        display: grid;
        row-gap: 24px;

        @include brakepoints(mobile) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 12px;
        }
    }


    &__heading {
        @include heading-style($fs-header, 38px);
        display: flex;
        margin: 48px 0 32px 16px;

        @include brakepoints(tablet) {
            margin: 24px 0 24px 8px;
        }

        @include brakepoints(mobile) {
            font-size: $fs-header-mob;
            line-height: 24px;
            width: 158px;
            margin: 0 0 24px 0;
        }

        &::after {
            @include orange-line;

            @include brakepoints(mobile) {
                margin-left: 8px;
            }
        }
    }
}

.similar {
    &__heading {
        @include heading-style($fs-header, 38px);
        display: flex;
        white-space: nowrap;
        margin-left: 24px;
        margin-bottom: 16px;
        max-width: 278px;

        @include brakepoints(tablet) {
            width: 210px;
            margin-left: 16px;
        }

        @include brakepoints(mobile) {
            font-size: $fs-header-mob;
            margin: 0 0 24px 0;
            width: 158px;
            line-height: 24px;
        }

        &::after {
            &__horizontal {
                display: flex;
            }

            @include orange-line;

            @include brakepoints(mobile) {
                margin-left: 8px;
            }
        }
    }
}

.tags {
    &__item {
        @include text-style($fs-text, 25px);
        cursor: pointer;

        @include brakepoints(mobile) {
            font-size: $fs-text-mob;
            line-height: 18px;
        }
    }
}

.social {
    &__path {
        fill: $cr-text-main;
    }
}

.share {
    @include brakepoints(mobile) {
        display: none;
    }

    &__wrapper {
        display: flex;
    }

    &__heading {
        @include heading-style($fs-second-header, 24px);
        margin-right: 16px;
    }
}

.project {
    &__grid {
        @include set-grid(64px, 24px);
        margin-bottom: 112px;

        @include brakepoints(tablet) {
            @include set-grid(32px, 20px);
            margin-bottom: 72px;
        }

        @include brakepoints(mobile) {
            grid-template-columns: 1fr;
            row-gap: 24px;
            margin-bottom: 56px;
        }
    }

    &__article-main {
        grid-column: 1/5;

        @include brakepoints(mobile) {
            grid-column: 1/2;
        }
    }

    &__main-paper {
        grid-column: 1/4;

        @include brakepoints(mobile) {
            grid-column: initial;
        }
    }

    &__article-preview {
        grid-column: 1/4;
    }

    &__recommended {
        grid-column: 4/5;
        grid-row: 1/3;

        @include brakepoints(mobile) {
            grid-column: initial;
            grid-row: initial;
        }
    }

    &__similar {
        grid-column: 1/4;

        @include brakepoints(mobile) {
            grid-column: initial;
        }

        @include brakepoints(mobile) {
            grid-column: 1/2;
        }
    }

    &__horizontal {
        display: flex;
    }

    &__about-project-rec {
        min-height: 226px;

        @include brakepoints(mobile) {
            min-height: 186px;
        }
    }
}

.project-article {
    background-color: $cr-article-bg;

    &__wrapper {
        padding-bottom: 112px;

        @include brakepoints(tablet) {
            padding-bottom: 24px;
        }

        @include brakepoints(mobile) {
            padding-bottom: 0;
        }
    }

    &__text-wrapper {
        padding-left: 48px;
        padding-right: 24px;
        flex: 1 1 652px;

        @include brakepoints(tablet) {
            padding: 0 8px 0 28px;
        }

        @include brakepoints(mobile) {
            padding: 16px 8px 24px;
        }
    }

    &__content-wrapper {
        display: flex;

        @include brakepoints(mobile) {
            display: block;
        }
    }

    &__img {
        max-width: 100%;
    }

    &__heading-wrapper {
        padding: 48px 24px 32px;

        @include brakepoints(tablet) {
            padding: 24px 16px;
        }

        @include brakepoints(mobile) {
            padding: 16px 8px 24px;
        }
    }
}

.heading {
    &__text {
        @include heading;

        @include brakepoints(mobile) {
            font-size: $fs-header-mob;
            line-height: 24px;
        }
    }
}

.text {
    &__content {
        @include text(56px);

        @include brakepoints(mobile) {
            font-size: $fs-text-mob;
            line-height: 18px;
            margin-bottom: 24px;
        }
    }
}

.slogan {
    font: {
        size: $fs-slogan;
        family: $ff-slogan;
    }

    line-height: 47px;
    color: $cr-text-main;

    @include brakepoints(mobile) {
        font-size: $fs-slogan-mob;
        line-height: 36px;
    }
}

.list {
    color: $cr-text-main;

    &__items-wrapper_hidden {
        display: none;
    }

    &__item {
        cursor: pointer;
        margin-bottom: 16px;

        @include brakepoints(mobile) {
            max-width: initial;
        }
    }

    &__arrow {
        transition: 0.3s;
    }

    &__arrow_close {
        rotate: 180deg;
    }

    &__item-header {
        @include brakepoints(mobile) {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    &__column {
        @include brakepoints(mobile) {
            &::after {
                content: '';
                display: block;
                height: 2px;
                width: 100%;
                //max-width: 243px;
                background-color: $cr-cherry-cake;
                border-radius: 2px;
            }
        }
    }

    &__items-wrapper :last-child {
        margin-bottom: 0;

        @include brakepoints(mobile) {
            margin-bottom: 16px;
        }
    }

    &__header {
        @include heading-style($fs-second-header, 27px);

        @include brakepoints(mobile) {
            @include heading-style($fs-header-mob, 24px);
        }
    }

    &__text {
        @include text-style($fs-second-text, 21px);

        @include brakepoints(mobile) {
            @include text-style($fs-text-mob, 18px);
        }
    }
}

.anchor {
    &__link {
        @include text-style($fs-second-text, 21px);
        display: inline-block;
        margin-top: 16px;
    }
}

.action-button {
    background-color: $cr-cherry-cake;
    border-radius: 4px;
    padding: 6px 16px;
    height: 34px;

    &__text {
        @include text-style($fs-second-text, 22px);
    }
}

.filters-applied {
    &__wrapper {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $cr-paper-bg;
        border-radius: 2px;
    }

    &__heading {
        @include heading-style($fs-second-header, 27px);
        margin-bottom: 8px;

        @include brakepoints(mobile) {
            @include heading-style($fs-header-mob, 24px);
        }
    }

    &__text {
        @include text-style($fs-second-text, 21px);
        display: block;

        @include brakepoints(mobile) {
            @include text-style($fs-text-mob, 21px)
        }
    }
}

.load-content {
    &__wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: '';
            display: block;
            width: 75px;
            height: 75px;
            border: 8px solid $cr-menu-bg;
            border-top-color: $cr-cherry-cake;
            border-radius: 50%;
            animation: loading 0.75s ease infinite;
        }

        @keyframes loading {
            from {
                transform: rotate(0turn);
            }

            to {
                transform: rotate(1turn);
            }
        }
    }
}

.slider {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    //position: relative;
    &__divider {
        &::after {
            content: '';
            display: inline-block;
            height: 8px;
            width: 80px;
            border-radius: 2px;
            background-color: $cr-cherry-cake;
            margin-bottom: 16px;
        }
    }

    &__wrapper {
        margin-bottom: 8px;
        // display: grid;
        // column-gap: 4px;
        // grid-auto-columns: 40%;
        // grid-auto-flow: column;
        //overflow-x: scroll;
    }

    &__nav-wrapper {
        align-self: flex-end;
        //height: 24px;
        width: 64px;
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: grid;
        column-gap: 4px;
        grid-auto-columns: 45%;
        grid-auto-flow: column;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__list_old {
        grid-auto-columns: 85%;
    }

    &__arrow {
        background-color: transparent;
    }

    &__arrow_unactive path {
        //background-color: orange;
        fill: #B4B9D1;
    }
}